<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("templates/header") %>
</head>
<body>
    <div class="container">
        <header>
           
        </header>
       
        <footer>
            <%- include("templates/footer") %>
        </footer>
    </div>
  
</body>
</html>
